.invoiceListMainContainer, .invoiceListMainContainerSuppressed {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f7fc;
}

.mainStatusMessage {
    display: inline-block;
    width: 90%;
    text-align: center;
    margin-top: 250px;
    padding-bottom: 300px;
}

.invoiceListMainContainer.nightMode, .invoiceListMainContainerSuppressed.nightMode {
    background-color: #141625;
}

.invoiceListMainContainer.nightMode h2, .invoiceListMainContainerSuppressed.nightMode h2 {
    color: white;
}

.invoiceListMainContainer.nightMode select, .invoiceListMainContainerSuppressed.nightMode select {
    color: white;
}

.invoiceListMainContainerSuppressed {
    filter: brightness(25%);
}

.invoiceListControlsContainer {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.invoiceListMainTitle {
    font-size: 27px;
    font-weight: 600;
}

.invoiceListSubtitle {
    font-size: 14px;
    color: #868689;
}

.invoiceListControlsRightContainer {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.invoiceListStatusFilter {
    font-weight: 600;
    width: 120px;
    border: none;
    font-size: 12px;
    cursor: pointer;
    padding: 0 5px;
    background-color: inherit;
}

.invoiceListStatusFilter:hover {
    border: 1px solid gray;
    border-radius: 30px;
}

.invoiceListStatusFilter:focus {
    outline: none;
}

.newInvoiceButton {
    width: 120px;
    height: 36px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: none;
    background-color: #7C5DFA;
    color: white;
    cursor: pointer;
}

.newInvoiceButton:hover {
    box-shadow: 1px 1px 1px gray;
}

.invoiceListPlusIcon {
    padding: 6px;
    background-color: white;
    border-radius: 13px;
    margin-right: 10px;
}

.newInvoiceMobile {
    display: none;
}

.invoiceItemsContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(100vh - Xpx);
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.invoiceItemsContainer::-webkit-scrollbar {
    display: none;
}

@media (min-width: 568px) and (max-width: 1023px) {
    .invoiceListMainContainer, .invoiceListMainContainerSuppressed {
        height: 89vh;
    }

    .invoiceListControlsContainer {
        width: 90%;
    }

    .invoiceItemsContainer {
        width: 90%;
    }
}

@media (max-width: 567px) {
    .invoiceListMainContainer, .invoiceListMainContainerSuppressed {
        height: 89vh;
    }

    .invoiceListControlsContainer {
        width: 95%;
    }

    .invoiceListControlsRightContainer {
        width: 60%;
    }

    .invoiceItemsContainer {
        width: 95%;
    }

    .newInvoiceButton{
        width: 80px;
        height: 36px;
    }

    .newInvoiceMobile {
        display: inline;
    }

    .newInvoice {
        display: none;
    }
}