*{
  margin: 0;
  padding: 0;
}

.globalContainer {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f7fc 
}

.globalContainer.nightMode {
  background-color: #141625;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .globalContainer {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .globalContainer {
    flex-direction: column;
  }
}