.navbarMainContainer {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: #1e213c;
    border-radius: 0 20px 20px 0;
}

.homeButton {
    border-radius: 0 20px 20px 0;
    width: 80px;
    height: 80px;
    border: none;
    background-image: linear-gradient(180deg, #7b5fef 0%, #7b5fef 45%, #917afe 55%, #917afe 100%);
    cursor: pointer;
}

.navbarLogo {
    width: 35px;
}

.navbarBottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    width: 100%;
}

.toggleNightButton {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: inherit;
    border: none;
}

.nightShifImage {
    height: 20px;
}

.userImageDiv {
    border-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 100%;
    border-top: 1px solid #4e516a;
}

.navbarUser {
    width: 30px;
    border-radius: 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .navbarMainContainer {
        flex-direction: row;
        width: 100%;
        height: 80px;
        border-radius: 0 0 20px 20px;
    }
    
    .homeButton {
        border-radius: 0 0 20px 20px;
    }
    
    .navbarBottomContainer {
        flex-direction: row;
        height: 100%;
        width: 170px;
    }
    
    .userImageDiv {
        border-top: none;
        flex-direction: row;
        height: 100%;
        width: 85px;
        border-left: 1px solid #4e516a;
    }
}

@media (max-width: 767px) {
    .navbarMainContainer {
        flex-direction: row;
        width: 100%;
        height: 80px;
        border-radius: 0 0 20px 20px;
    }
    
    .homeButton {
        border-radius: 0 0 20px 20px;
    }
    
    .navbarBottomContainer {
        flex-direction: row;
        height: 100%;
        width: 170px;
    }
    
    .userImageDiv {
        border-top: none;
        flex-direction: row;
        height: 100%;
        width: 85px;
        border-left: 1px solid #4e516a;
    }
}
